<head th:replace="fragments :: head(about)"></head>
<header th:replace="fragments :: header"></header>

<main>
    <section class="hero">
        <div class="hero_text">
            <h2>Hvem er vi?</h2>
        </div>
        <img th:src="@{/images/about-us.png}" alt="about-us" class="about_image"/>
    </section>

    <section class="content">
        <div class="green_box_about"></div>
        <p>Emil</p>
    </section>

    <section class="content">
        <div class="green_box_about"></div>
        <p>Frederik</p>

    </section>

    <section class="content">
        <div class="green_box_about"></div>
        <p>Luke</p>
    </section>

    <section class="content">
        <div class="green_box_about"></div>
        <p>Daniel</p>
    </section>
</main>

<footer>
    <p>&copy; 2025 Icy Cupcakes <br/>
        Bornholm Pederskervejen 17 ???? Nexø <br/>
        Telefon: +45 18131123</p>
</footer>
</body>
</html>