<head th:replace="~{fragments :: head(payPage)}">
    <title>Betalings side</title>
</head>
<header th:replace="~{fragments :: header}"></header>

<body>
<main>
    <section class="pay_section">
        <h1 id="title">Du har handlet for <span th:text="${session.orderPrice} + ' dkk'"></span></h1>
        <div class="input_container">
            <form class="pay_form" th:action="@{/order-confirmation}" method="POST">
                <label for="card_number">Kortnummer:</label>
                <input type="text" id="card_number" name="card_number" />
                <label for="card_date">Udløbsdato:</label>
                <input type="month" id="card_date" name="card_date" placeholder="MM/ÅÅ" />
                <label for="card_cvc">CVC:</label>
                <input type="text" id="card_cvc" name="card_cvc" />
                <button type="submit" class="pay_button">Bekræft</button>
            </form>
        </div>
    </section>
</main>
<footer th:replace="~{fragments :: footer}"></footer>
</body>